<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points des clubs</title>
</head>
<body>
    <h1>Points disponibles par club</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nom du Club</th>
                <th>Points Disponibles</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
